<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.0.0" targetFramework="net40-Client" />
  <package id="DropNet" version="1.9.3" targetFramework="net35-Client" />
  <package id="IronCow" version="0.5.3.0" targetFramework="net40-Client" />
  <package id="Spring.Rest" version="1.1.0" targetFramework="net40-Client" />
  <package id="Spring.Social.Core" version="1.0.0" targetFramework="net40-Client" />
  <package id="Spring.Social.Dropbox" version="1.1.0" targetFramework="net40-Client" />
</packages>